fastapi
uvicorn
transformers
torch
scikit-learn
sqlalchemy
python-jose
pydantic
passlib
pytest
requests
faiss-cpu
sentence-transformers
pandas
numpy
openpyxl
python-dotenv
fastparquet
pyarrow
pydantic[email]
python-multipart